
        <!--  PAGE HEADING -->

        <section class="page-header" data-stellar-background-ratio="1.2">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12 text-center">


                        <h3>
                            Get Appointment 
                        </h3>

                        <p class="page-breadcrumb">
                            <a href="#">Home</a> / Get Appointment
                        </p>


                    </div>

                </div> <!-- end .row  -->

            </div> <!-- end .container  -->

        </section> <!-- end .page-header  -->


        <!--  MAIN CONTENT  -->
                             
        <!--  APPOINTMENT SECTION  -->
        
        <section class="section-content-block section-appoinment-page">
            
            <div class="container ">
                
                <div class="row"> 

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        
                        <div class="content-block section-contact-block">

                          <h2 class="contact-title">Book Appointment</h2>
                          </div>
                        
                        <div class="appointment-form-wrapper-1 clearfix">

                            <form class="appoinment-form">
                                                                                              
                                <div class="form-group col-md-6">
                                    <input id="apt_user_name" class="form-control" placeholder="Name" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <input id="apt_user_email" class="form-control" placeholder="Email" type="email">
                                </div>
                                 <div class="form-group col-md-6">
                                    <input id="apt_user_phone" class="form-control" placeholder="Phone" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="select-style">                                    
                                        <select class="form-control" name="apt_doc_name" id="apt_doc_name">
                                            <option>Doctor Name</option>
                                            <option>Jhon Doe</option>
                                            <option>Mr. Smith</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <input id="apt_date" class="form-control" placeholder="Date" type="text">
                                </div>
                                
                                
                                <div class="form-group col-md-6">
                                    <input id="apt_time" class="form-control" placeholder="Time" type="text">
                                </div>
                                
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <textarea id="apt_user_msg" class="form-control" rows="4" placeholder="Your Message..."></textarea>
                                </div>   
                                <div class="checkbox">
                                  <label><input type="checkbox" value=""><span class="check-text"> Download your copy of appointment</span></label>
                                </div>                                                             
                                
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button id="btn_submit" class="btn-submit" type="submit">Get Appointment</button>
                                </div>

                            </form>

                        </div> <!-- end .appointment-form-wrapper  -->
                        
                        
                    </div>   
                    
                    <div class="col-sm-6 wow fadeInRight">

                        <div class="content-block section-contact-block">

                            <h2 class="contact-title">Contact us</h2>

                            <ul class="contact-info">
                                <li>
                                    <span class="icon-container"><i class="fa fa-home"></i></span>
                                    <address>3100 C/A Mouchak,Sylhet,Bangladesh</address>
                                </li>
                                <li>
                                    <span class="icon-container"><i class="fa fa-phone"></i></span>
                                    <address><a href="#">+093-120-525-9162</a></address>
                                </li>
                                <li>
                                    <span class="icon-container"><i class="fa fa-envelope"></i></span>
                                    <address><a href="mailto:">query@yourdomain.com</a></address>
                                </li>
                                <li>
                                    <span class="icon-container"><i class="fa fa-globe"></i></span>
                                    <address><a href="#">www.yourdomain.com</a></address>
                                </li>
                            </ul>
                            

                            <h2 class="contact-title">We are social</h2>

                            <div class="social-icons margin-top-11 clearfix">
                                <a title="Tweet It" href="#" class="btn btn-social-icon btn-twitter petition_share">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a title="Share at Facebook" href="" class="btn btn-social-icon btn-facebook petition_share">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a title="Share at Google+" href="" class="btn btn-social-icon btn-goggle-plus petition_share">
                                    <i class="fa fa-google-plus"></i>
                                </a>

                                <a title="Share at Pinterest" href="" class="btn btn-social-icon btn-pinterest petition_share">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </div>                            

                        </div> <!-- end .content-block  -->

                    </div> <!--  end col-sm-6  -->             

                </div>
                
            </div>
        </section>        
        
        <!--  NEWSLETTER SECTION -->
        
        <section class="section-content-block section-newsletter section-secondary-bg">

            <div class="container wow fadeInUp">  
                    
                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-center">
                            <h2 class="section-heading">SUBSCRIBE NEWSLETTER</h2>
                            <p class="section-subheading">Subscribe and Get in touch with us and get regular updates from us and follow our instructions for heart-healthy life. </p>                                                           
                        </div> <!-- end .col-sm-10  -->                      

                    </div> <!--  end .row  -->
                    
                    <div class="row">  
                        <div class="col-md-8 col-md-offset-2">
                            <div class="horizontal-newsletter">
                                <form id="mc-form" class="mc-form fix" action="#">
                                    <div class="news-subscription">
                                        <input id="mc-email" name="EMAIL" placeholder="Email Address..." type="email">
                                        <button id="mc-submit" type="submit"> <i class="fa fa-location-arrow"></i> </button>
                                    </div>
                                </form>
                            </div> <!--  end .footer-widget  -->
                        </div> <!--  end .col-md-3 col-sm-6 -->

                    </div> <!--  end .row -->
            </div>
        </section>
        
