
<section class="page-header" data-stellar-background-ratio="1.2">

    <div class="container">

      <div class="row">

          <div class="col-sm-12 text-center">

              <h3>
                 Event Lists
              </h3>

              <p class="page-breadcrumb">
                  <a href="#">Home</a> / All Events
              </p>


          </div>

     </div> <!-- end .row  -->

 </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!--  EVENTS SECTION  -->

<section class="section-content-block event-section-1 section-pure-white-bg">

    <div class="container wow fadeInUp">

        <div class="row section-heading-wrapper">
            
            <div class="col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">Our Events</h2>
                <p class="section-subheading">We're organizing various types of psychological events all over the world since 1990. Check our upcoming events and join with us. </p>                                                      
            </div> <!-- end .col-sm-10  -->                       

        </div> <!-- end .row  -->

        <div class="row">
            
            <div class="col-md-7 col-sm-12 col-xs-12">

                <div class="event_wrapper">
                    
                    <figure class="event-img">
                        
                        <img src="assets/images/event_01.jpg" alt="event" />
                        
                        <div class="single-event">
                        
                            <h5>Managing stress and building healthy family</h5>
                            
                            <ul>
                                <li>
                                <i class="fa fa-calendar"></i>
                                <a href="#">15 Sep 2017</a>
                                </li>                                        
                                <li>
                                <i class="fa fa-clock-o"></i>
                                <a href="#">01:00pm - 03.00pm</a>
                                </li>
                                <li>
                                <i class="fa fa-map-marker"></i>
                                <a href="#">Almond Street, Texas</a>
                                </li>
                            </ul> 
                           
                        </div>                                 
                                                          
                    </figure> <!-- end .cause-img  -->                            

                </div><!-- end .custom-event-list-wrapper -->

            </div> <!-- end .col-md-4  -->
                              

            <div class="col-md-5 col-sm-12 col-xs-12">
                
                <div class="event_wrapper">
                    
                    <div class="sidebar-event"> 
                        
                        <div class="event-date">
                            <span class="day">20</span>
                            <span class="month">March</span>
                            <span class="year">2017</span>
                        </div> <!-- end .event-date  -->
                        
                        <div class="event-details">
                            <h3><a href="#">Relational satisfaction</a></h3>
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">01:00pm - 03.00pm</a>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <a href="#">Almond Street, Texas</a>
                                </li>
                            </ul>
                            <p>No relationship can exist without the parties sacrifice</p>
                        </div> <!--  end .event-details  -->
                        
                    </div> <!--  end .sidebar-event -->
                    
                    <div class="sidebar-event"> 
                        
                        <div class="event-date">
                            <span class="day">23</span>
                            <span class="month">APRIL</span>
                            <span class="year">2017</span>
                        </div> <!-- end .event-date  -->
                        
                        <div class="event-details">
                            <h3><a href="#">More cognitive flexibility</a></h3>
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">01:00pm - 03.00pm</a>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <a href="#">Almond Street, Texas</a>
                                </li>
                            </ul>
                            <p>Human  ability  to face  new  and  unexpected conditions</p>      
                        </div> <!--  end .event-details  -->
                        
                    </div> <!--  end .sidebar-event -->
                    
                    <div class="sidebar-event"> 
                        
                        <div class="event-date">
                            <span class="day">25</span>
                            <span class="month">JUNE</span>
                            <span class="year">2017</span>
                        </div> <!-- end .event-date  -->
                        
                        <div class="event-details">
                            <h3><a href="#">Reducing rumination</a></h3>
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">01:00pm - 03.00pm</a>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <a href="#">Almond Street, Texas</a>
                                </li>
                            </ul>
                            <p>Unhelpful worry and rumination is habit that is hard to control</p>                                       
                        </div> <!--  end .event-details  -->
                        
                    </div> <!--  end .sidebar-event -->

                </div> <!-- end .event_wrapper  -->

            </div> <!-- end .col-md-5  -->

        </div> <!-- end .row  -->
        
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
                <a href="#" class="btn btn-load-more">- Load All Events -</a>
            </div>
        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .event-section-1  -->


<!-- CLIENT LOGO SECTION  -->

<section class="section-content-block section-client-logo">

    <div class="container wow fadeInUp">
        
        <div class="row section-heading-wrapper">
            
            <div class="col-md-12 col-sm-12 text-center">
                <h2 class="section-heading">Our SUPPORTERS</h2>
                <p class="section-subheading">Many organizations joined with us for improving your mental health. We will appreciate you if you interested with us.  </p>
            </div> <!-- end .col-sm-10  -->                      

        </div> <!--  end .row  -->

        <div class="row">

            <div class="logo-items logo-layout-1 text-center">
                
                <div class="client-logo">

                    <img src="assets/images/logo_1.jpg" height="150" width="150" alt="" />

                </div>
                
                <div class="client-logo">

                    <img src="assets/images/logo_2.jpg" height="150" width="150" alt="" />

                </div>
                
                
                <div class="client-logo">

                    <img src="assets/images/logo_3.jpg" height="150" width="150" alt="" />

                </div>
                
                

                <div class="client-logo">

                    <img src="assets/images/logo_4.jpg" height="150" width="150" alt="" />

                </div>

                <div class="client-logo">

                    <img src="assets/images/logo_5.jpg" height="150" width="150" alt="" />

                </div>
                
                

                <div class="client-logo">

                    <img src="assets/images/logo_6.jpg" height="150" width="150" alt="" />

                </div>

                <div class="client-logo">

                    <img src="assets/images/logo_7.jpg" height="150" width="150" alt="" />

                </div>

                <div class="client-logo">

                    <img src="assets/images/logo_8.jpg" height="150" width="150" alt="" />

                </div>


            </div> <!-- end .testimonial-container  -->

        </div> <!-- end row  -->

    </div> <!-- end .container  -->

</section> <!--  end .section-client-logo -->

<!--  NEWSLETTER SECTION -->

<section class="section-content-block section-newsletter section-secondary-bg">

    <div class="container wow fadeInUp">  
            
            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">SUBSCRIBE NEWSLETTER</h2>
                    <p class="section-subheading">Subscribe and Get in touch with us and get regular updates from us and follow our instructions for heart-healthy life.  </p>
                </div> <!-- end .col-sm-10  -->                      

            </div> <!--  end .row  -->
            
            <div class="row">  
                <div class="col-md-8 col-md-offset-2">
                    <div class="horizontal-newsletter">
                        <form id="mc-form" class="mc-form fix" action="#">
                            <div class="news-subscription">
                                <input id="mc-email" name="EMAIL" placeholder="Email Address..." type="email">
                                <button id="mc-submit" type="submit"> <i class="fa fa-location-arrow"></i> </button>
                            </div>
                        </form>
                    </div> <!--  end .footer-widget  -->
                </div> <!--  end .col-md-3 col-sm-6 -->

            </div> <!--  end .row -->
    </div>
</section>

<!-- START FOOTER  -->