        
        <section class="page-header" data-stellar-background-ratio="1.2">

            <div class="container">

              <div class="row">

                  <div class="col-sm-12 text-center">


                      <h3>
                          Blog Posts
                      </h3>

                      <p class="page-breadcrumb">
                          <a href="#" title="Home">Home</a> / Blog
                      </p>


                  </div>

             </div> <!-- end .row  -->

         </div> <!-- end .container  -->
       
     </section> <!-- end .page-header  -->
     
       <!--  MAIN CONTENT  -->
       
       <section class="main-content">
       
            <div class="container">
                
                    <div class="row">

                        <div class="col-md-8 col-sm-12">

                            <article class="post single-post">
                                
                                <div class="single-post-content">

                                    <a title="Counseling on marital issue for strong relationship" href="#">
                                        <img alt="Counseling on marital issue for strong relationship" src="assets/images/blog_1.jpg" />
                                    </a>

                                </div> <!-- end .bd-view  -->
                                
                                <div class="single-post-title">

                                    <h2>
                                        <a href="#" title="Counseling on marital issue for strong relationship">
                                           Counseling on marital issue for strong relationship
                                        </a>
                                    </h2> <!--  end blog-post-title  -->
                                    
                                    <p class="single-post-meta">                           

                                        <i class="fa fa-user"></i>
                                        &nbsp;Deborah Beck

                                        &nbsp;<i class="fa fa-book"></i>
                                        &nbsp;<a title="View all posts" href="#"> Relation </a>

                                        &nbsp;<i class="fa fa-calendar"></i>
                                        &nbsp;January 19, 2016

                                    </p>

                                    <p>
                                        As we get older, many of us will find ourselves having to cope with illness and disability. 
                                        And very often this comes with a higher price tag for things like specialist food, equipment, clothing, and paying for transport to get out and about.
                                    </p>


                                </div> <!-- end col-sm-8  -->

                            </article>
                            
                            <article class="post single-post">
                                
                                <div class="single-post-content">

                                    <a title="Counseling on professional stress for better carrier" href="#">
                                        <img alt="Counseling on professional stress for better carrier" src="assets/images/blog_2.jpg" height="" width=""/>
                                    </a>

                                </div> <!-- end .bd-view  -->
                                
                                <div class="single-post-title">

                                    <h2>
                                        <a href="#" title="Counseling on professional stress for better carrier">
                                          Counseling on professional stress for better carrier 
                                        </a>
                                    </h2> <!--  end blog-post-title  -->
                                    
                                    <p class="single-post-meta">                           

                                        <i class="fa fa-user"></i>
                                        &nbsp;Deborah Beck

                                        &nbsp;<i class="fa fa-book"></i>
                                        &nbsp;<a title="View all posts" href="#"> Family </a>

                                        &nbsp;<i class="fa fa-calendar"></i>
                                        &nbsp;January 19, 2016

                                    </p>

                                    <p>
                                        As well as taking away the freedom for older disabled people to decide what help they need to maintain their independence, we were worried that 
                                        council budgets wouldn't be able to keep pace with the needs of their ageing populations. 
                                    </p>


                                </div> <!-- end col-sm-8  -->

                            </article>
                            
                            <article class="post single-post">
                                
                                <div class="single-post-content">

                                    <a title="Counseling personality disorder to increase confidence" href="#">
                                        <img alt="Counseling personality disorder to increase confidence" src="assets/images/blog_3.jpg" />
                                    </a>

                                </div> <!-- end .bd-view  -->
                                
                                <div class="single-post-title">

                                    <h2>
                                        <a href="#" title="Counseling personality disorder to increase confidence">
                                            Counseling personality disorder to increase confidence
                                        </a>
                                    </h2> <!--  end blog-post-title  -->
                                    
                                    <p class="single-post-meta">                           

                                        <i class="fa fa-user"></i>
                                        &nbsp;Deborah Beck

                                        &nbsp;<i class="fa fa-book"></i>
                                        &nbsp;<a title="View all posts" href="#"> Stress </a>

                                        &nbsp;<i class="fa fa-calendar"></i>
                                        &nbsp;January 19, 2016

                                    </p>

                                    <p>
                                        Local Age UKs also worked incredibly hard to represent the voices of older people in their areas and discuss the issues with their MPs 
                                        in their area about the impact changing Attendance Allowance would have on older people locally.
                                    </p>


                                </div> <!-- end col-sm-8  -->

                            </article>


                            <div class="blog-pagination text-center clearfix">                

                                <ul class="pagination">

                                    <li><a href="#" class="prev page-numbers"><i class="fa fa-caret-left"></i></a></li>
                                    <li><a href="#" class="page-numbers">1</a></li>
                                    <li><a href="#" class="page-numbers current">2</a></li>
                                    <li><a href="#" class="page-numbers">3</a></li>
                                    <li><a href="#" class="next page-numbers"><i class="fa fa-caret-right"></i></a></li>          

                                </ul> <!-- end pagination  -->

                            </div> <!--  end blog-pagination -->

                        </div> <!--  end col-sm-8 -->
                       
                        <div class="col-md-4 col-sm-12">

                            <div class="widget site-sidebar">

                                <h2 class="widget-title">Search</h2>

                                <form action="index.html" id="search-form" class="search-form" role="form" method="get">

                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search....">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    </div>

                                    <input type="hidden" value="submit" />

                                </form> <!-- end #search-form  -->

                            </div> <!--  end .widget -->            


                            <div class="widget site-sidebar">

                                <h2 class="widget-title">Categories</h2>

                                <ul class="widget-post-category clearfix">
                                    <li>
                                        <a title="View all posts filed under Environment" href="#">Relation</a>
                                        <span class="pull-right badge">42</span>
                                    </li>
                                    <li>
                                        <a title="View all posts filed under Technology" href="#">Domestic Violence</a>
                                        <span class="pull-right badge">40</span>
                                    </li>
                                    <li>
                                        <a title="View all posts filed under Health" href="#">Safe Health</a>
                                        <span class="pull-right badge">32</span>
                                    </li>
                                    <li>
                                        <a title="View all posts filed under Disaster" href="#">Anger Management</a>
                                        <span class="pull-right badge">26</span>
                                    </li>
                                    <li>
                                        <a title="View all posts filed under Environment Right" href="#">Stress Management</a>
                                        <span class="pull-right badge">18</span>
                                    </li>
                                    <li>
                                        <a title="View all posts filed under Education" href="#">Proper Education</a>
                                        <span class="pull-right badge">12</span>
                                    </li>
                                </ul>

                            </div> <!--  end .widget -->

                            <div class="widget site-sidebar">

                                <h2 class="widget-title">Recent Posts</h2>

                                <div class="single-recent-post">
                                    <a href="#">Zomato Commits to Making Food Delivery Safer </a>
                                    <span><i class="fa fa-calendar icon-color"></i>&nbsp; January 19, 2016</span>
                                </div>

                                <div class="single-recent-post">
                                    <a href="#">Make Kalam's House A Knowledge Centre</a>
                                    <span><i class="fa fa-calendar icon-color"></i>&nbsp; January 18, 2016</span>
                                </div>

                                <div class="single-recent-post">
                                    <a href="#">Central Government Retracts Proposal to Tax </a>
                                    <span><i class="fa fa-calendar icon-color"></i>&nbsp; January 17, 2016</span>
                                </div>

                            </div> <!--  end .widget -->

                            <div class="widget site-sidebar">

                                <h2 class="widget-title">Tags</h2>

                                <ul class="widget-recent-tags clearfix">

                                    <li>
                                        <a href="" title=""> claycold</a> 
                                    </li>

                                    <li>
                                        <a href="" title=""> crushing</a> 
                                    </li>

                                    <li>
                                        <a href="" title=""> chattels</a> 
                                    </li>

                                    <li>
                                        <a href="" title=""> dinarchy</a> 
                                    </li>
                                    
                                    <li>
                                        <a href="" title=""> cienaga</a> 
                                    </li>

                                    <li>
                                        <a href="" title=""> doolie</a> 
                                    </li>

                                </ul><!--  end .widget-recent-tags -->

                            </div> <!--  end .widget -->

                        </div> <!-- end .col-sm-4  -->

                    </div> <!--  end row  -->

                </div> <!--  end container -->
       
       </section> <!-- end .main-content  -->
    
        
