
        <!--  PAGE HEADING -->

        <section class="page-header">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12 text-center">

                        <h3>
                            Services
                        </h3>

                        <p class="page-breadcrumb">
                            <a href="#">Home</a> / Services
                        </p>


                    </div>

                </div> <!-- end .row  -->

            </div> <!-- end .container  -->

        </section> <!-- end .page-header  -->

        <!--  SERVICE SECTION -->

        <section class="section-content-block section-services section-secondary-bg">

            <div class="container">

                <div class="row section-heading-wrapper">
                    
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading"><span>Our</span> Services</h2>
                        <p class="section-subheading">We have helped more than 400 million people. We can Help you too the mental health field’s long-established lifestyle.</p>
                    </div> <!-- end .col-sm-10  -->                    

                </div> <!--  end .row  -->

                <div class="row wow fadeInUp">
                    
                    <div class="service-items">
                        
                        <div class="service-layout-1">

                            <figure class="service-img">
                                <img src="assets/images/service_angry_management.jpg" alt="service" />
                            </figure> <!-- end .cause-img  -->

                            <h2>Anger Management</h2>

                            <a href="#" class="service_read_more">Learn More</a>

                        </div>

                        <div class="service-layout-1">

                            <figure class="service-img">
                                <img src="assets/images/service_marital_management.jpg" alt="service" />
                            </figure> <!-- end .cause-img  -->

                            <h2>Marital Counseling</h2>

                            <a href="#" class="service_read_more">Learn More</a>
                            
                        </div>

                        <div class="service-layout-1">

                            <figure class="service-img">
                                <img src="assets/images/service_stress_management.jpg" alt="service" />
                            </figure> <!-- end .cause-img  -->

                            <h2>Stress Management</h2>

                            <a href="#" class="service_read_more">Learn More</a>

                        </div>
                        
                        <div class="service-layout-1">

                            <figure class="service-img">
                                <img src="assets/images/service_angry_management.jpg" alt="service" />
                            </figure> <!-- end .cause-img  -->

                            <h2>Anger Management</h2>

                            <a href="#" class="service_read_more">Learn More</a>

                        </div>

                        <div class="service-layout-1">

                            <figure class="service-img">
                                <img src="assets/images/service_marital_management.jpg" alt="service" />
                            </figure> <!-- end .cause-img  -->

                            <h2>Marital Counseling</h2>

                            <a href="#" class="service_read_more">Learn More</a>
                            
                        </div>

                    </div> <!--  end .service-items  -->

                </div> 

            </div> <!--  end .container  -->

        </section> <!--  end .section-how-we-work -->
        
        <!-- CLIENT TESTIMONIAL SECTION  -->

        <section class="section-content-block section-client-testimonial">

            <div class="container">
                
                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">OUR TESTIMONIALS</h2>
                        <p class="section-subheading">We are trusted, certified and dedicated from last 20 years. Many people are benefited by our services and praised us.  </p>
                    </div> <!-- end .col-sm-10  -->                      

                </div> <!--  end .row  -->

                <div class="row">

                    <div class="testimonial-container">

                            <div class="testimony-layout-1">

                                <p class="testimony-text">
                                    Our lesson scheduling system messages instructors about late-notice changes to the schedule throughout the day. 
                                    This automated system cuts down on administration time and phone calls required, saving time and money.
                                </p>

                                <h6>Brandon Munson</h6>
                                <span>CTO, Fulcrum Design, USA</span>

                            </div> <!-- end .testimony-layout-1  -->

                            <div class="testimony-layout-1">

                                <p class="testimony-text">
                                    We are using Ez Texting with our church safety team to broadcast safety-related messages including missing children, 
                                    weather alerts, and other life-safety communications.
                                </p>
                                

                                <h6>Sunnybrook Church</h6>
                                <span class="bq-author-info">CEO, HW Tech Inc, Bulgaria</span>

                            </div> <!-- end .testimony-layout-1  -->

                            <div class="testimony-layout-1">

                                <p class="testimony-text">
                                    While we all have email accounts and can make phone calls, the nature of the news business is that stuff happens very quickly. 
                                    We want to reach all our journalists and any other volunteer reporters instantly.
                                </p>
                                

                                <h6>Harry Williams</h6>
                                <span class="bq-author-info">CEO, HW Tech Inc, Bulgaria</span>

                            </div> <!-- end .testimony-layout-1  -->


                    </div> <!-- end .testimonial-container  -->

                </div> <!-- end row  -->

            </div> <!-- end .container  -->

        </section> <!--  end .section-client-testimonial -->
        
        <!--  NEWSLETTER SECTION -->
        
        <section class="section-content-block section-newsletter section-secondary-bg">

            <div class="container wow fadeInUp">  
                    
                    <div class="row section-heading-wrapper">

                        <div class="col-md-12 col-sm-12 text-center">
                            <h2 class="section-heading">SUBSCRIBE NEWSLETTER</h2>
                            <p class="section-subheading">Subscribe and Get in touch with us and get regular updates from us and follow our instructions for heart-healthy life. </p>
                        </div> <!-- end .col-sm-10  -->                      

                    </div> <!--  end .row  -->
                    
                    <div class="row">  
                        <div class="col-md-8 col-md-offset-2">
                            <div class="horizontal-newsletter">
                                <form id="mc-form" class="mc-form fix" action="#">
                                    <div class="news-subscription">
                                        <input id="mc-email" name="EMAIL" placeholder="Email Address..." type="email">
                                        <button id="mc-submit" type="submit"> <i class="fa fa-location-arrow"></i> </button>
                                    </div>
                                </form>
                            </div> <!--  end .footer-widget  -->
                        </div> <!--  end .col-md-3 col-sm-6 -->

                    </div> <!--  end .row -->
            </div>
        </section>
        
        <!-- CLIENT LOGO SECTION  -->

        <section class="section-content-block section-client-logo">

            <div class="container wow fadeInUp">
                
                <div class="row section-heading-wrapper">
                    
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Our SUPPORTERS</h2>
                        <p class="section-subheading">Many organizations joined with us for improving your mental health. We will appreciate you if you interested with us.  </p>
                    </div> <!-- end .col-sm-10  -->                      

                </div> <!--  end .row  -->

                <div class="row">

                    <div class="logo-items logo-layout-1 text-center">
                        
                        <div class="client-logo">

                            <img src="assets/images/logo_1.jpg" alt="" />

                        </div>
                        
                        <div class="client-logo">

                            <img src="assets/images/logo_2.jpg" alt="" />

                        </div>
                        
                        
                        <div class="client-logo">

                            <img src="assets/images/logo_3.jpg" alt="" />

                        </div>
                        
                        

                        <div class="client-logo">

                            <img src="assets/images/logo_4.jpg" alt="" />

                        </div>

                        <div class="client-logo">

                            <img src="assets/images/logo_5.jpg" alt="" />

                        </div>
                        
                        

                        <div class="client-logo">

                            <img src="assets/images/logo_6.jpg" alt="" />

                        </div>

                        <div class="client-logo">

                            <img src="assets/images/logo_7.jpg" alt="" />

                        </div>

                        <div class="client-logo">

                            <img src="assets/images/logo_8.jpg" alt="" />

                        </div>


                    </div> <!-- end .testimonial-container  -->

                </div> <!-- end row  -->

            </div> <!-- end .container  -->

        </section> <!--  end .section-client-logo -->